* {
    box-sizing: border-box;
}

img {
    width: 100px;
}

span#mg {
    background-color: green;
    margin: 20px;
    padding: 10px;
}

div.inline {
    border: 1px solid black;
  }

div.inline p {
    background-color: yellow;
    border: 1px solid black;
    display: inline-block;
    height: 200px;
    width: 100px;
}



p:nth-of-type(1){
    background-color: blue;
    width: 100%;
    
}

p:nth-of-type(2){
    background-color: red;
    width: 50%;
}

p {
    border: 1px solid black;
    height: 100px;
}

.tabla {
    display:table;
    padding: 2px;
}

.fila {
    display:table-row;
    width: 100%;
}

.celda {
    display:table-cell;
    border: black 1px solid;
    padding: 10px;
    width: 50%;
}
